@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #6c5b7b;
}
body{
    display: flex;
    flex-flow: column nowrap;
}
.app-title{
    background: white;
    padding: 0.25em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
    font-family: "Comfortaa";
    font-size: 2em;
}

.app{
    width: 70%;
    max-width: 1900px;
    margin: auto;
    border: 1px solid white;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    display: grid;
    grid-template: repeat(auto-fill, minmax(200px, 1fr)) / repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
    align-items: baseline;
    justify-content: space-evenly;
}

.pokemon{
    /* grid  */
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: 5px;
    align-items: baseline;
    
    /* aesthetics */
    border: 4px solid cadetblue;
    border-radius: 10px;
    padding: 1em;
    background: #2b2e4a;
}

.info {
    width: 90%;
    padding: 0.25em;
    border-radius: 10px;
    border: white 4px solid;
    /* margin: 0.125em; */
    font-weight: bold;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.id{
    min-width: 32px;
    min-height: 32px;
    width: 1em;
    height: 1em;
    font-size: 1.25em;

    padding: 0.5em 0.35em 0;
    border-radius: 50%;
    grid-row: 1 / 2;
    grid-column: 1 / span 1;
    background: cadetblue;
    color: orange;
    border: 5px solid orange;
}
.name{
    width: 90%;
    grid-row: 1 / 2;
    grid-column: 2 / span 3;
    border: 2px solid cadetblue;
    background: gold;
    color: cadetblue;
    font-size: 1.5em;
}
.type{
    font-size: 1.125em;
    padding-top: 1em;
    width: 80%;
    height: 65%;
    grid-row: 2 / 4;
    grid-column: 2;
    background: #e84545;
    color: #355c7d;
    grid-column: 3 / span 2;
}


.hit-point,
.attack,
.defense,
.speed{
    width: 80%;
    border: 2px solid white;
}
.hit-point{
    grid-row: 2;
    grid-column: 1;
    background: red;
    color: white;
}
.attack{
    grid-row: 2;
    grid-column: 2;
    background: green;
    color: white;
}
.defense{
    
    border: 2px solid orange;
    color: orange;
    background: cadetblue;
    padding: 0.35em;
}
.speed{
    background: #afeafe9f;
    color: white;
    padding: 0.35em;
}

